/* General */

*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: repeat-y;
/* https://stackoverflow.com/questions/27623777/how-to-not-repeat-a-css-background-gradient/27623904 */

    background-attachment: fixed; 
    /* margin:auto; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Tammudu 2', 'Arial';
}

p{
    font-size: 3rem;
    color:white;
    font-weight: 600;
}

#container{
    /* border: 2px solid rgba(255,255,255,0.3); */
    display: flex;
    flex-direction: column;
    margin-top: 5%;
   
    /* margin:auto; */
    width: 60vh;
    /* height: 80vh; */
    }

#control-list{
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: row;
    align-content:center;
    justify-content: center;
    margin-bottom: 0.4rem;

}
ul{
    list-style: none;
    }

#each-item-div{
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: row;
    margin: 0.2rem 0;
    color:rgb(36, 10, 70);
    align-items: baseline;
    font-size: 1.5rem;
    /* align-content: space-between;
    justify-content:space-between; */
    transition: all 1s ease;
    
}

#each-item-div li{
    margin: 0.2rem 2rem;
    flex: 1;
}

/*INNER buttons*/
/* both */
.inner-btn { 
    padding:0.5rem;
    margin: 1rem;
    color: purple;
    border: none;
}
/* delete */
.delete-btn{
    background-color: rgb(255, 255, 255);
    align-self: flex-end;
}
.fa-trash{
    pointer-events: none;
}

/* check */
.check-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.check-btn-active {
    text-decoration: line-through;
    background-color: rgb(11, 224, 160);
}
.check-btn-active li{
opacity: 0.4;
}

.fa-check{
    pointer-events: none;
}
/* OUTER Buttons */


.btn, #input-field {
    padding:0.5rem;
    margin: 1rem;
}
.btn{
    text-transform: uppercase;
    background-color: rgb(11, 224, 160);
}

.send-active{
background-color: red;

}

