*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* margin:auto; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Tammudu 2', 'Arial';
}

p{
    font-size: 3rem;
    color:white;
    font-weight: 600;
}
#container{
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    margin-top: 5%;
    padding-top: 5%;
    /* margin:auto; */
    width: 120vh;
    height: 80vh;
    }


